<!DOCTYPE html>
<html>
<head>
  <style>
    body {
        text-align: center;
        background: <%= color %>;
    }
    h1 {
      text-decoration: underline;
      color: white
    }
    h2, p {
      font-weight: bold;
      color: white
    }
  </style>
</head>
<body>
  <h1>Web Guesser</h1>
  <h2>Guess a number between 0 and 100</h2>
  <p> <%= message %> </p>
  <form>
    <input type='text' name='guess'>
    <input type='submit' value='Guess!'>
  </form>
</body>
</html>
